.CE .HeavensFeelMovie{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/[HeavensFeel].png)
}

.CE .AlwaysElegant{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Always Elegant.png)
}

.CE .AngelsPoem{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Angels Poem.png)
}

.CE .AnotherEnding{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Another Ending.png)
}

.CE .AwakenedWill{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Awakened Will.png)
}

.CE .BathoftheMoonGodess{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Bath of the Moon Goddess.png)
}

.CE .BeheadingBunny2016{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/BeheadingBunny2016.png)
}

.CE .BrilliantWarDancer{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Brilliant War Dancer.png)
}

.CE .CodeCast{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Code Cast.png)
}

.CE .CrimsonRoseoftheShadowlands{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Crimson Rose of the Shadowlands.png)
}

.CE .DivineBanquet{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Divine Banquet.png)
}

.CE .FirstStrike{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/First Strike.png)
}

.CE .FiveHundredYearsofObsession{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Five Hundred Years of Obsession.png)
}

.CE .Formalcraft{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Formalcraft.png)
}

.CE .FragmentsoftheYear2030{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Fragments of the Year2030.png)
}

.CE .Gandr{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gandr.png)
}

.CE .GemcraftAntumbra{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gemcraft - Antumbra.png)
}

.CE .GlassfulSweetTime{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Glassful Sweet Time.png)
}

.CE .GoldeMilleniumTree{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Golden Millenium Tree.png)
}

.CE .GrandNewYear{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Grand New Year.png)
}

.CE .GrandPuppetMaster{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Grand Puppet Master.png)
}

.CE .GudaGudaPosterGirl{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Guda Guda Poster Girl.png)
}

.CE .Gudao{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gudao.png)
}

.CE .HalloweenArrangement{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Arrangement.png)
}

.CE .HalloweenPetitDevil{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Petit Devil.png)
}

.CE .HalloweenPrincess{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Princess.png)
}

.CE .HeavensFeel{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/HeavensFeel.png)
}

.CE .HeroicNewYear{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Heroic New Year.png)
}

.CE .HollowMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Hollow Magic.png)
}

.CE .HolyGrailofBlack{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Holy Grail of Black.png)
}

.CE .HolyNightSign{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Holy Night Sign.png)
}

.CE .IdealKing{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Ideal King.png)
}

.CE .IdealKing{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Ideal King.png)
}

.CE .ImaginaryAround{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Imaginary Around.png)
}

.CE .Kaleidoscope{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kaleidoscope.png)
}

.CE .KissYourHand{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kiss Your Hand.png)
}

.CE .KitchenPatissiere{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kitchen ☆ Patissiere.png)
}

.CE .KnightlyPride{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Knightly Pride.png)
}

.CE .LastEncore{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Last Encore.png)
}

.CE .LaunchOrder!{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Launch Order!.png)
}

.CE .LimitedZeroOver{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Limited  Zero Over.png)
}

.CE .MaidinHalloween{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Maid in Halloween.png)
}

.CE .MarchofSaints{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/March of Saints.png)
}

.CE .MatureGentleman{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mature Gentleman.png)
}

.CE .MeltySweetheart{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Melty Sweetheart.png)
}

.CE .MikottoBridalStudy{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mikotto! Bridal Study.png)
}

.CE .MooneyJewel{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mooney Jewel.png)
}

.CE .MoonlightFest{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Moonlight Fest.png)
}

.CE .MysticEyesofDistortion{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mystic Eyes of Distortion.png)
}

.CE .Necromancy{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Necromancy.png)
}

.CE .NightlessRose{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Nightless Rose.png)
}

.CE .NoisyObsession{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Noisy Obsession.png)
}

.CE .PresentForMyMaster{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Present For My Master.png)
}

.CE .PrimevalMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Primeval Magic.png)
}

.CE .PrismaCosmos{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Prisma Cosmos.png)
}

.CE .ProjectionMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Projection Magic.png)
}

.CE .PurelyBloom{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Purely Bloom.png)
}

.CE .RecordHolder{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Record Holder.png)
}

.CE .Refrain{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Refrain.png)
}

.CE .SealingDesignationEnforcer{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Sealing Designation Enforcer.png)
}

.CE .ShroudofMagdalene{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Shroud of Magdalene.png)
}

.CE .StarofArtoria{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Star of Artoria.png)
}

.CE .SteelDiscipline{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Steel Discipline.png)
}

.CE .SteelStreetChocoMaid{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Street Choco Maid.png)
}

.CE .SummerPrecognition{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Summer Precognition.png)
}

.CE .TeacherandI{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Teacher and I.png)
}

.CE .TheMoonlitFour{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/The Moonlit Four.png)
}

.CE .TripleBoundedField{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Triple Bounded Field.png)
}

.CE .VerdantSoundofDestruction{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Verdant Sound of Destruction.png)
}

.CE .Versus{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Versus.png)
}

.CE .VesseloftheSaint{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Vessel of the Saint.png)
}

.CE .VictorfromtheMoon{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Victor from the Moon.png)
}