.HeavensFeelMovie{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/[HeavensFeel].png)
}

.AlwaysElegant{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Always Elegant.png)
}

.AngelsPoem{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Angels Poem.png)
}

.AnotherEnding{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Another Ending.png)
}

.AwakenedWill{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Awakened Will.png)
}

.BathoftheMoonGodess{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Bath of the Moon Goddess.png)
}

.BeheadingBunny2016{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/BeheadingBunny2016.png)
}

.BrilliantWarDancer{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Brilliant War Dancer.png)
}

.CodeCast{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Code Cast.png)
}

.CrimsonRoseoftheShadowlands{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Crimson Rose of the Shadowlands.png)
}

.DivineBanquet{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Divine Banquet.png)
}

.FirstStrike{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/First Strike.png)
}

.FiveHundredYearsofObsession{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Five Hundred Years of Obsession.png)
}

.Formalcraft{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Formalcraft.png)
}

.FragmentsoftheYear2030{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Fragments of the Year2030.png)
}

.Gandr{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gandr.png)
}

.GemcraftAntumbra{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gemcraft - Antumbra.png)
}

.GlassfulSweetTime{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Glassful Sweet Time.png)
}

.GoldeMilleniumTree{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Golden Millenium Tree.png)
}

.GrandNewYear{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Grand New Year.png)
}

.GrandPuppetMaster{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Grand Puppet Master.png)
}

.GudaGudaPosterGirl{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Guda Guda Poster Girl.png)
}

.Gudao{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Gudao.png)
}

.HalloweenArrangement{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Arrangement.png)
}

.HalloweenPetitDevil{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Petit Devil.png)
}

.HalloweenPrincess{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Halloween Princess.png)
}

.HeavensFeel{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/HeavensFeel.png)
}

.HeroicNewYear{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Heroic New Year.png)
}

.HollowMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Hollow Magic.png)
}

.HolyGrailofBlack{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Holy Grail of Black.png)
}

.HolyNightSign{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Holy Night Sign.png)
}

.IdealKing{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Ideal King.png)
}

.IdealKing{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Ideal King.png)
}

.ImaginaryAround{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Imaginary Around.png)
}

.Kaleidoscope{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kaleidoscope.png)
}

.KissYourHand{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kiss Your Hand.png)
}

.KitchenPatissiere{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Kitchen ☆ Patissiere.png)
}

.KnightlyPride{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Knightly Pride.png)
}

.LastEncore{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Last Encore.png)
}

.LaunchOrder!{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Launch Order!.png)
}

.LimitedZeroOver{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Limited  Zero Over.png)
}

.MaidinHalloween{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Maid in Halloween.png)
}

.MarchofSaints{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/March of Saints.png)
}

.MatureGentleman{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mature Gentleman.png)
}

.MeltySweetheart{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Melty Sweetheart.png)
}

.MikottoBridalStudy{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mikotto! Bridal Study.png)
}

.MooneyJewel{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mooney Jewel.png)
}

.MoonlightFest{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Moonlight Fest.png)
}

.MysticEyesofDistortion{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Mystic Eyes of Distortion.png)
}

.Necromancy{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Necromancy.png)
}

.NightlessRose{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Nightless Rose.png)
}

.NoisyObsession{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Noisy Obsession.png)
}

.PresentForMyMaster{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Present For My Master.png)
}

.PrimevalMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Primeval Magic.png)
}

.PrismaCosmos{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Prisma Cosmos.png)
}

.ProjectionMagic{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Projection Magic.png)
}

.PurelyBloom{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Purely Bloom.png)
}

.RecordHolder{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Record Holder.png)
}

.Refrain{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Refrain.png)
}

.SealingDesignationEnforcer{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Sealing Designation Enforcer.png)
}

.ShroudofMagdalene{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Shroud of Magdalene.png)
}

.StarofArtoria{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Star of Artoria.png)
}

.SteelDiscipline{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Steel Discipline.png)
}

.SteelStreetChocoMaid{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Street Choco Maid.png)
}

.SummerPrecognition{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Summer Precognition.png)
}

.TeacherandI{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Teacher and I.png)
}

.TheMoonlitFour{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/The Moonlit Four.png)
}

.TripleBoundedField{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Triple Bounded Field.png)
}

.VerdantSoundofDestruction{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Verdant Sound of Destruction.png)
}

.Versus{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Versus.png)
}

.VesseloftheSaint{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Vessel of the Saint.png)
}

.VictorfromtheMoon{
  background: url(http://aozakiaoko.github.io/fgo/img/ce/Victor from the Moon.png)
}