* {
  background-color: black;
  color: white;
}

td:first-child {
    width: 300px;
    text-align: center;
}

td div{
	height: 150px;
	width:  138px;
	display: inline-block;
}

.title{
	color: white;
    text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
    font-size: 20px;
}

td:nth-child(2){
	color: white;
    text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
    font-size: 32px;
}