/*=====================================================================================
										TEMPLATE

.svt_{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/.png);background-size: contain;}}

=====================================================================================*/
.svt_1{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/1.png);background-size: contain;}}
.svt_2{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/2.png);background-size: contain;}}
.svt_3{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/3.png);background-size: contain;}}
.svt_4{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/4.png);background-size: contain;}}
.svt_5{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/5.png);background-size: contain;}}
.svt_6{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/6.png);background-size: contain;}}
.svt_7{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/7.png);background-size: contain;}}
.svt_8{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/8.png);background-size: contain;}}
.svt_9{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/9.png);background-size: contain;}}
.svt_10{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/10.png);background-size: contain;}}
.svt_11{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/11.png);background-size: contain;}}
.svt_12{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/12.png);background-size: contain;}}
.svt_13{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/13.png);background-size: contain;}}
.svt_14{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/14.png);background-size: contain;}}
.svt_15{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/15.png);background-size: contain;}}
.svt_16{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/16.png);background-size: contain;}}
.svt_17{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/17.png);background-size: contain;}}
.svt_18{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/18.png);background-size: contain;}}
.svt_19{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/19.png);background-size: contain;}}
.svt_20{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/20.png);background-size: contain;}}
.svt_21{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/21.png);background-size: contain;}}
.svt_22{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/22.png);background-size: contain;}}
.svt_23{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/23.png);background-size: contain;}}
.svt_24{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/24.png);background-size: contain;}}
.svt_25{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/25.png);background-size: contain;}}
.svt_26{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/26.png);background-size: contain;}}
.svt_27{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/27.png);background-size: contain;}}
.svt_28{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/28.png);background-size: contain;}}
.svt_29{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/29.png);background-size: contain;}}
.svt_30{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/30.png);background-size: contain;}}
.svt_31{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/31.png);background-size: contain;}}
.svt_32{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/32.png);background-size: contain;}}
.svt_33{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/33.png);background-size: contain;}}
.svt_34{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/34.png);background-size: contain;}}
.svt_35{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/35.png);background-size: contain;}}
.svt_36{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/36.png);background-size: contain;}}
.svt_37{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/37.png);background-size: contain;}}
.svt_38{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/38.png);background-size: contain;}}
.svt_39{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/39.png);background-size: contain;}}
.svt_40{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/40.png);background-size: contain;}}
.svt_41{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/41.png);background-size: contain;}}
.svt_42{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/42.png);background-size: contain;}}
.svt_43{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/43.png);background-size: contain;}}
.svt_44{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/44.png);background-size: contain;}}
.svt_45{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/45.png);background-size: contain;}}
.svt_46{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/46.png);background-size: contain;}}
.svt_47{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/47.png);background-size: contain;}}
.svt_48{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/48.png);background-size: contain;}}
.svt_49{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/49.png);background-size: contain;}}
.svt_50{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/50.png);background-size: contain;}}
.svt_51{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/51.png);background-size: contain;}}
.svt_52{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/52.png);background-size: contain;}}
.svt_53{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/53.png);background-size: contain;}}
.svt_54{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/54.png);background-size: contain;}}
.svt_55{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/55.png);background-size: contain;}}
.svt_56{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/56.png);background-size: contain;}}
.svt_57{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/57.png);background-size: contain;}}
.svt_58{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/58.png);background-size: contain;}}
.svt_59{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/59.png);background-size: contain;}}
.svt_60{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/60.png);background-size: contain;}}
.svt_61{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/61.png);background-size: contain;}}
.svt_62{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/62.png);background-size: contain;}}
.svt_63{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/63.png);background-size: contain;}}
.svt_64{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/64.png);background-size: contain;}}
.svt_65{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/65.png);background-size: contain;}}
.svt_66{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/66.png);background-size: contain;}}
.svt_67{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/67.png);background-size: contain;}}
.svt_68{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/68.png);background-size: contain;}}
.svt_69{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/69.png);background-size: contain;}}
.svt_70{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/70.png);background-size: contain;}}
.svt_71{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/71.png);background-size: contain;}}
.svt_72{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/72.png);background-size: contain;}}
.svt_73{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/73.png);background-size: contain;}}
.svt_74{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/74.png);background-size: contain;}}
.svt_75{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/75.png);background-size: contain;}}
.svt_76{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/76.png);background-size: contain;}}
.svt_77{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/77.png);background-size: contain;}}
.svt_78{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/78.png);background-size: contain;}}
.svt_79{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/79.png);background-size: contain;}}
.svt_80{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/80.png);background-size: contain;}}
.svt_81{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/81.png);background-size: contain;}}
.svt_82{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/82.png);background-size: contain;}}
.svt_83{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/83.png);background-size: contain;}}
.svt_84{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/84.png);background-size: contain;}}
.svt_85{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/85.png);background-size: contain;}}
.svt_86{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/86.png);background-size: contain;}}
.svt_87{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/87.png);background-size: contain;}}
.svt_88{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/88.png);background-size: contain;}}
.svt_89{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/89.png);background-size: contain;}}
.svt_90{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/90.png);background-size: contain;}}
.svt_91{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/91.png);background-size: contain;}}
.svt_92{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/92.png);background-size: contain;}}
.svt_93{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/93.png);background-size: contain;}}
.svt_94{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/94.png);background-size: contain;}}
.svt_95{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/95.png);background-size: contain;}}
.svt_96{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/96.png);background-size: contain;}}
.svt_97{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/97.png);background-size: contain;}}
.svt_98{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/98.png);background-size: contain;}}
.svt_99{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/99.png);background-size: contain;}}
.svt_100{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/100.png);background-size: contain;}}
.svt_101{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/101.png);background-size: contain;}}
.svt_102{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/102.png);background-size: contain;}}
.svt_103{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/103.png);background-size: contain;}}
.svt_104{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/104.png);background-size: contain;}}
.svt_105{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/105.png);background-size: contain;}}
.svt_106{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/106.png);background-size: contain;}}
.svt_107{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/107.png);background-size: contain;}}
.svt_108{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/108.png);background-size: contain;}}
.svt_109{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/109.png);background-size: contain;}}
.svt_110{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/110.png);background-size: contain;}}
.svt_111{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/111.png);background-size: contain;}}
.svt_112{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/112.png);background-size: contain;}}
.svt_113{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/113.png);background-size: contain;}}
.svt_114{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/114.png);background-size: contain;}}
.svt_115{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/115.png);background-size: contain;}}
.svt_116{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/116.png);background-size: contain;}}
.svt_117{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/117.png);background-size: contain;}}
.svt_118{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/118.png);background-size: contain;}}
.svt_119{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/119.png);background-size: contain;}}
.svt_120{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/120.png);background-size: contain;}}
.svt_121{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/121.png);background-size: contain;}}
.svt_122{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/122.png);background-size: contain;}}
.svt_123{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/123.png);background-size: contain;}}
.svt_124{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/124.png);background-size: contain;}}
.svt_125{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/125.png);background-size: contain;}}
.svt_126{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/126.png);background-size: contain;}}
.svt_127{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/127.png);background-size: contain;}}
.svt_128{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/128.png);background-size: contain;}}
.svt_129{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/129.png);background-size: contain;}}
.svt_130{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/130.png);background-size: contain;}}
.svt_131{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/131.png);background-size: contain;}}
.svt_132{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/132.png);background-size: contain;}}
.svt_133{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/133.png);background-size: contain;}}
.svt_134{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/134.png);background-size: contain;}}
.svt_135{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/135.png);background-size: contain;}}
.svt_136{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/136.png);background-size: contain;}}
.svt_137{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/137.png);background-size: contain;}}
.svt_138{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/138.png);background-size: contain;}}
.svt_139{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/139.png);background-size: contain;}}
.svt_140{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/140.png);background-size: contain;}}
.svt_141{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/141.png);background-size: contain;}}
.svt_142{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/142.png);background-size: contain;}}
.svt_143{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/143.png);background-size: contain;}}
.svt_144{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/144.png);background-size: contain;}}
.svt_145{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/145.png);background-size: contain;}}
.svt_146{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/146.png);background-size: contain;}}
.svt_147{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/147.png);background-size: contain;}}
.svt_148{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/148.png);background-size: contain;}}
.svt_149{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/149.png);background-size: contain;}}
.svt_150{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/150.png);background-size: contain;}}
.svt_151{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/151.png);background-size: contain;}}
.svt_152{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/152.png);background-size: contain;}}
.svt_153{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/153.png);background-size: contain;}}
.svt_154{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/154.png);background-size: contain;}}
.svt_155{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/155.png);background-size: contain;}}
.svt_156{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/156.png);background-size: contain;}}
.svt_157{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/157.png);background-size: contain;}}
.svt_158{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/158.png);background-size: contain;}}
.svt_159{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/159.png);background-size: contain;}}
.svt_160{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/160.png);background-size: contain;}}
.svt_161{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/161.png);background-size: contain;}}
.svt_162{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/162.png);background-size: contain;}}
.svt_163{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/163.png);background-size: contain;}}
.svt_164{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/164.png);background-size: contain;}}
.svt_165{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/165.png);background-size: contain;}}
.svt_166{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/166.png);background-size: contain;}}
.svt_167{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/167.png);background-size: contain;}}
.svt_168{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/168.png);background-size: contain;}}
.svt_169{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/169.png);background-size: contain;}}
.svt_170{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/170.png);background-size: contain;}}
.svt_171{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/171.png);background-size: contain;}}
.svt_172{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/172.png);background-size: contain;}}
.svt_173{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/173.png);background-size: contain;}}
.svt_174{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/174.png);background-size: contain;}}
.svt_175{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/175.png);background-size: contain;}}
.svt_176{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/176.png);background-size: contain;}}
.svt_177{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/177.png);background-size: contain;}}
.svt_178{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/178.png);background-size: contain;}}
.svt_179{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/179.png);background-size: contain;}}
.svt_180{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/180.png);background-size: contain;}}
.svt_181{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/181.png);background-size: contain;}}
.svt_182{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/182.png);background-size: contain;}}
.svt_183{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/183.png);background-size: contain;}}
.svt_184{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/184.png);background-size: contain;}}
.svt_185{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/185.png);background-size: contain;}}
.svt_186{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/186.png);background-size: contain;}}
.svt_187{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/187.png);background-size: contain;}}
.svt_188{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/188.png);background-size: contain;}}
.svt_189{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/189.png);background-size: contain;}}
.svt_190{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/190.png);background-size: contain;}}
.svt_191{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/191.png);background-size: contain;}}
.svt_192{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/192.png);background-size: contain;}}
.svt_193{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/193.png);background-size: contain;}}
.svt_194{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/194.png);background-size: contain;}}
.svt_195{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/195.png);background-size: contain;}}
.svt_196{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/196.png);background-size: contain;}}
.svt_197{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/197.png);background-size: contain;}}
.svt_198{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/198.png);background-size: contain;}}
.svt_199{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/199.png);background-size: contain;}}
.svt_200{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/200.png);background-size: contain;}}
.svt_205{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/205.png);background-size: contain;}}
.svt_206{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/206.png);background-size: contain;}}
.svt_209{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/209.png);background-size: contain;}}
.svt_212{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/212.png);background-size: contain;}}
.svt_213{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/213.png);background-size: contain;}}
.svt_215{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/215.png);background-size: contain;}}
.svt_216{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/216.png);background-size: contain;}}
.svt_220{background: url(http://aozakiaoko.github.io/fgo/img/svt_by_id/220.png);background-size: contain;}}