.skill_DefenceUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/DefenceUp.png);
}

.skill_Invincibility
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Invincibility.png);
}

.skill_Taunt
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Taunt.png);
}