.skill_DefenceUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/DefenceUp.png);
}

.skill_Invincibility
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Invincibility.png);
}

.skill_Taunt
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Taunt.png);
}

.skill_MR
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/MagicResistance.png);
}

.skill_Riding
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Riding.png);
}

.skill_Charisma
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Charisma.png);
}

.skill_BusterUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/BusterUp.png);
}

.skill_Instinct
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Instinct.png);
}

.skill_Dodge
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Dodge.png);
}

.skill_QuickUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/QuickUp.png);
}

.skill_PowerUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/PowerUp.png);
}

.skill_SkillSeal
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/SkillSeal.png);
}

.skill_ChargeNP
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/ChargeNP.png);
}

.skill_Disengage
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Disengage.png);
}

.skill_CritUp
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/CritUp.png);
}

.skill_Avenger
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/Avenger.png);
}

.skill_OblivionCorrection
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/OblivionCorrection.png);
}

.skill_SelfHealingMagic
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/SelfRestorationMagic.png);
}

.skill_MEODP
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/meodp.png);
}

.skill_YingYang
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/yinyang.png);
}

.skill_IA
{
  background: url(http://aozakiaoko.github.io/fgo/img/skills/IndependentAction.png);
}