*{
  background: black;
  font-size: 18px;
  color: #CCCCCC;
  border-style: none;
}

.menu{
  margin: 0 auto;
  width: 800px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.menu div{
  display: inline-block;
  margin: 0 auto;
  width: 200px;
}

.svtIcon{
  width: 50px;
  text-align: left;
}

.svt{
  margin: 0 auto;
  width: 800px;
  height: 800px;
}

td{
  width: 20px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.markup-to-hide td{
  width: 20px;
  height: 1px;
}

.label{
  font-weight: bold;
  color: gold;
}

.skill_icon
{
  height: 55px;
  width: 55px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.skill-value td:first-child{
  color: gold;
  font-weight: bold;  
}

.NP
{
  color: gold;
  font-weight: bolder;
}

.arts{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+36,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
  background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,0.85) 20%, rgba(36,114,187,1) 36%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,0.85) 20%,rgba(36,114,187,1) 36%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,0.85) 20%,rgba(36,114,187,1) 36%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.quick{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19ff00+20,00ff2e+50,00ff11+80&0+0,0.8+15,1+36,1+81,0.8+85,0+100 */
  background: -moz-linear-gradient(left, rgba(25,255,0,0) 0%, rgba(25,255,0,0.8) 15%, rgba(25,255,0,0.85) 20%, rgba(12,255,25,1) 36%, rgba(0,255,46,1) 50%, rgba(0,255,17,1) 80%, rgba(0,255,17,1) 81%, rgba(0,255,17,0.8) 85%, rgba(0,255,17,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(25,255,0,0) 0%,rgba(25,255,0,0.8) 15%,rgba(25,255,0,0.85) 20%,rgba(12,255,25,1) 36%,rgba(0,255,46,1) 50%,rgba(0,255,17,1) 80%,rgba(0,255,17,1) 81%,rgba(0,255,17,0.8) 85%,rgba(0,255,17,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(25,255,0,0) 0%,rgba(25,255,0,0.8) 15%,rgba(25,255,0,0.85) 20%,rgba(12,255,25,1) 36%,rgba(0,255,46,1) 50%,rgba(0,255,17,1) 80%,rgba(0,255,17,1) 81%,rgba(0,255,17,0.8) 85%,rgba(0,255,17,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.buster{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+20,ff3131+48,ff3232+80&0+0,0.8+15,1+36,1+81,0.8+85,0+100 */
  background: -moz-linear-gradient(left, rgba(255,50,50,0) 0%, rgba(255,50,50,0.8) 15%, rgba(255,50,50,0.85) 20%, rgba(255,49,49,1) 36%, rgba(255,49,49,1) 48%, rgba(255,50,50,1) 80%, rgba(255,50,50,1) 81%, rgba(255,50,50,0.8) 85%, rgba(255,50,50,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,50,50,0) 0%,rgba(255,50,50,0.8) 15%,rgba(255,50,50,0.85) 20%,rgba(255,49,49,1) 36%,rgba(255,49,49,1) 48%,rgba(255,50,50,1) 80%,rgba(255,50,50,1) 81%,rgba(255,50,50,0.8) 85%,rgba(255,50,50,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,50,50,0) 0%,rgba(255,50,50,0.8) 15%,rgba(255,50,50,0.85) 20%,rgba(255,49,49,1) 36%,rgba(255,49,49,1) 48%,rgba(255,50,50,1) 80%,rgba(255,50,50,1) 81%,rgba(255,50,50,0.8) 85%,rgba(255,50,50,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.skill-info{
  background: #123;
}